@charset "UTF-8";

@media screen and (min-width: 768px){
    main {
        width: 700px;
        margin: auto;
    }

    div {
        float: left;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    main {
        width: 800px;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: 900px;
    }
}