@charset "UTF-8";

@media screen and (min-width: 768px) {
    html, body {
        width: 100%;
        background-color: rgb(187, 187, 247);
    }

    header {
        text-align: center;
        padding: 0px;
        margin: auto;
        margin-bottom: 30px;
    }

    header > h1 {
        margin-bottom: 20px;
    }

    span#burguer {
        display: none;
    }

    header > #menuheader  {
        display: inline;
    }

    header > #menuheader > ul {
        margin-top: 10px;
        text-align: center;
    }

    header > menu#menuheader > ul > li {
        display: inline;
        border: none;
        padding: 5px;
    }

    header > menu#menuheader > ul > li > a {
        display: inline;
        font: normal 17px sans-serif;
    }

    main {
        width: 650px;
        margin: auto;
        box-shadow: 0px 0px 5px black;
        padding: 15px 40px 20px 40px;
        margin-bottom: 5px;
    }

    div {
        float: left;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    header > #menuheader {
        display: inline;
    }
    main {
        width: 800px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1950px) {
    header > #menuheader {
        display: inline;
    }
    main {
        width: 1070px;
    }
}

@media screen and (min-width: 1950px) {
    main {
        width: 1600px;
    }

    header > #menuheader {
        display: inline;
    }

    header > h1 {
        font-size: 32px;
    }

    #definicoesmoeda li {
        font-size: 17px;
        line-height: 28.4px;
        text-align: left;
    }

    ul {
        font-size: 17px;
        margin-left: 75px;
        line-height: 28.4px;
        text-align: left;
    }

    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 20.5px;
    }

    p {
        font-size: 17px;
        line-height: 28.4px;
        margin-top: 15px;
    }
}